@import '../../_variables.scss';

#menu {
  height: 100%;
  background-color: $color-primary;
  color: $white-80;

  h2 {
    font-family: $font-family-primary;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 4px 0;
  }

  h3 {
    font-family: $font-family-primary;
    font-size: 17px;
    font-weight: 700;
    margin: 2px 0 0 0;
  }

  .col-12 {
    padding: 0;
  }

  .header {
    margin: 0 0 86px 0;
    padding: 18px $menu-padding-leftright;

    h1 {
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      font-family: $font-family-secondary;
      text-transform: lowercase;
      margin: 0 0 -4px 0;
      cursor: pointer;

      &:after {
        content: '•';
        color: $color-secondary;
        margin-left: 7px;
        font-size: 40px;
        line-height: 14px;
        vertical-align: middle;
      }
    }

    span {
      font-size: 14px;
      font-family: $font-family-secondary;
      letter-spacing: 0.5px;
    }

    .avatar {
      width: 35px;
      height: 35px;
      cursor: pointer;

      img {
        max-width: 35px;
        max-height: 35px;
        border-radius: 2px;
      }

      input {
        display: none;
      }
    }
  }

  .channels {
    margin: 0;

    .title {
      padding: 0 $menu-padding-leftright;

      span {
        font-size: 24px;
        font-weight: bold;
        margin: 0 0 8px 0;
        cursor: pointer;
      }
    }

    .list {
      .channel {
        padding: 5px $menu-padding-leftright;
        cursor: pointer;

        &:hover {
          background-color: $color-ternary;
        }

        &.active {
          background-color: $color-secondary;
          color: $color-primary-text;
        }

        .move {
          cursor: n-resize;
        }

        svg {
          position: relative;
          top: 6px;
          margin-right: 10px;
        }

        h3 {
          position: relative;
          top: 3px;
        }

        span {
          font-size: 11px;
          font-weight: 700;
          position: relative;
          top: -3px;
        }
      }
    }
  }

}
