@import '../../_variables.scss';

#menu {
  height: 100%;
  background-color: $color-primary;
  color: $gray-80;

  h2 {
    font-family: $font-family-primary;
    font-size: 16px;
    margin: 0;
  }

  h3 {
    font-family: $font-family-primary;
    font-size: 16px;
    margin: 0;
  }

  .col-12 {
    padding: 0;
  }

  .header {
    margin: 0 0 86px 0;
    padding: 18px $menu-padding-leftright;

    h1 {
      color: #fff;
      font-size: 24px;
      line-height: 24px;
      font-family: $font-family-secondary;
      margin: 0;
      cursor: pointer;

      &:after {
        content: '•';
        color: $color-secondary;
        margin-left: 5px;
      }
    }

    span{
      font-size: 12px;
      font-family: $font-family-secondary;
      cursor: pointer;
    }

    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 2px;
      background-color: $gray-80;
      cursor: pointer;
    }
  }

  .channels {
    margin: 0;

    .title {
      padding: 0 $menu-padding-leftright;

      span {
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .list {
      .channel {
        padding: 5px $menu-padding-leftright;
        cursor: pointer;

        &:hover {
          background-color: $color-ternary;
        }

        &.active {
          background-color: $color-secondary;
          color: $color-primary;
        }

        .move {
          cursor: n-resize;
        }

        svg {
          position: relative;
          top: 4px;
          margin-right: 10px;
        }

        h3 {
          position: relative;
          top: 3px;
        }

        span {
          font-size: 11px;
          position: relative;
          top: -2px;
        }
      }
    }
  }

}
