@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Lora:700|Righteous&subset=latin-ext');

$color-primary: #383566;
$color-primary-text: #2E2B54;
$color-secondary: #F15066;
$color-ternary: #633558;

$white-80: rgba(255, 255, 255, 0.8);
$gray-80: rgba(0, 0, 0, 0.2);

$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Righteous', cursive;

$menu-padding-leftright: 19px;

$chat-messages-container-height: calc(100% - 94px);
$chat-messages-container-body-height: calc(100% - 25px);
